<p>header works!</p>




<nav class="box topnav ul" >
     <!-- <a href="/home">Home</a>
     <a href="/about">About</a>
     <a href="/login">Login</a>
     <a href="/product">Product</a> -->
<div class="menu liStyle">
     <li ><a href="/home" class="text">Home</a></li>
     <li><a href="/about" class="text">About</a></li>
     <li><a href="/login" class="text">Login</a></li>
     <li><a href="/product" class="text">Product</a></li>
     <li><a href="/parent" class="text">Parent</a></li>
     <li><a href="/child" class="text">Child</a></li>
</div>
</nav>
